<% c++ #include "mon/web/content/base_form.hpp" %>
<% skin plain %>
    <% view base_form uses mon::web::content::base_form extends base %>
        <% template scripts() %>
            <% include base::scripts() %>
            <script src="/static/plain/jquery.replaceTagName.js" type="text/javascript"></script>
            <script src="/static/plain/archiver.js" type="text/javascript"></script>
        <% end template %>
        <% template script_onload() %>
            <% include base::script_onload() %>
            archiver_onload();
        <% end template %>
        <% template stylesheets() %>
            <% include base::stylesheets() %>
            <link href="/static/plain/base_form.css" rel="stylesheet" type="text/css">
        <% end template %>
        <% template subtitle() %>
            Form
        <% end template %>
        <% template main() %>
            <% include form() %>
            <% include result() %>
        <% end template %>
        <% template form() %>
            Form here...
        <% end template %>
        <% template result() %>
            Result here...
        <% end template %>
    <% end view %>
<% end skin %>
