<% c++ #include <mon/web/content/edit.hpp> %>
<% skin plain %>
    <% view edit uses mon::web::content::edit extends base_form %>
        <% template subtitle() %>
            <% gt "edit" %>
        <% end template %>
        <% template form() %>
            <h3><% gt "Edit agent" %></h3>
            <form method="post" action="">
                <% form as_p agent %>
            </form>
        <% end template %>
    <% end view %>
<% end skin %>
