<% c++ #include <mon/web/content/show.hpp> %>
<% skin plain %>
    <% view show uses mon::web::content::show extends base_form %>
        <% template subtitle() %>
            <% gt "show" %>
        <% end template %>
        <% template form() %>
            <h3><% gt "Show" %></h3>
            <form method="post" action="">
                <!--% form as_p form %-->
            </form>
        <% end template %>
    <% end view %>
<% end skin %>
