<% c++ #include <mon/web/content/show.hpp> %>
<% skin plain %>
    <% view show uses mon::web::content::show extends base_form %>
        <% template subtitle() %>
            <% gt "show" %>
        <% end template %>
        <% template scripts() %>
            <% include base_form::scripts() %>
            <script src="/static/plain/remove_agent.js" type="text/javascript"></script>
        <% end template %>
        <% template form() %>
            <h3><% gt "Agent statistics" %></h3>
            <% foreach agent in agents %>
                <table border="1" cellspacing="0" cellpadding="10">
                    <caption><% gt "Server monitor" %></caption>
                    <tr>
                        <th>Name</th>
                        <th>Target</th>
                        <% foreach plugin in plugins %>
                            <% item %>
                                <th><%= plugin.name %></th>
                            <% end %>
                        <% end %>
                    </tr>
                    <% item %>
                        <tr id="agent_<%= agent.id %>">
                            <td><a href="<% url "edit" using agent.id %>"><%= agent.name %></a>
                                <button title="Remove agent"
                                        onclick="remove_agent(<%= agent.id %>)">x</button>
                            </td>
                            <td><%= agent.target %></td>
                            <% foreach stat in agent.stats %>
                                <% item %>
                                    <% if (stat.status() != mon::CheckResponse::OK) %>
                                        <td bgcolor="red">
                                        <% c++ out() << mon::CheckResponse::Status_Name(stat.status()) << ": "; %>
                                    <% else %>
                                        <td>
                                    <% end %>
                                    <% c++ out() << stat.message(); %>
                                <% end %>
                            <% end %>
                        </tr>
                    <% end %>
            <% empty %>
                <b>No agents found!</b>
            <% end %>
        <% end template %>
    <% end view %>
<% end skin %>
